.createTaskInput {
  border-radius: 8px;
  padding: 1rem;
  background-color: var(--gray-450);
  color: var(--gray-300);
  border: 0;
  outline: none;
  box-sizing: initial;
  width: 100%;

  &:focus,
  &:hover {
    outline: 1px solid #9747ff;
    color: var(--gray-100);
  }
}
